#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#parsed-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 10%;
}

.warning {
  color: red;
}
